html, body {
  margin: 0;
}

body {
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  fill: lightgray;
}
.bar:hover {
  fill: black;
}

/*svg {
  position: absolute;
}*/
.tooltip {
  z-index: 10;
  position: absolute;

  background-color: black;
  color: white;
  padding: 10px;
}

.tooltip-text {
  color: white;
}

title {
  color: red;
}
