html, body {
  margin: 0;
  min-width: 1040px;
}

body {
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: inline-block;
}

.bar {
  fill: lightgray;
}

.bar:hover {
  fill: black;
}

svg {
  overflow: visible;
}

.tooltip {
  z-index: 10;
  position: absolute;

  background-color: black;
  color: white;
  padding: 10px;
}

.tooltip-text {
  color: white;
}

title {
  color: red;
}
